@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", "Hind Siliguri", sans-serif;
}

body {
  font-family: var(--font-sans);
}



@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
